<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {% if site.avatar %}
       <img src="{{ site.avatar }}" alt="{{ site.title }} Avatar" class="profile-pic" style="border-radius: 50%; width: 220px; height: 210px; display: block; margin-left: auto; margin-right: auto; margin-top: 80px margin-bottom: 160px;">
       {% endif %}
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    <div style="margin-top: 2rem; font-size: 0.8em; text-align: left; padding-left: 20px;">
  <a href="https://github.com/akifiips" target="_blank" style="display: block; margin-bottom: 12px; color: rgba(255,255,255,0.8); text-decoration: none;">
    <i class="fab fa-github fa-fw" style="margin-right: 8px;"></i> GitHub
  </a>

  <a href="https://www.linkedin.com/in/akif-mustafa-665b0712a/" target="_blank" style="display: block; margin-bottom: 12px; color: rgba(255,255,255,0.8); text-decoration: none;">
    <i class="fab fa-linkedin fa-fw" style="margin-right: 8px;"></i> LinkedIn
  </a>

  <a href="https://medium.com/@akif.iips" target="_blank" style="display: block; margin-bottom: 12px; color: rgba(255,255,255,0.8); text-decoration: none;">
    <i class="fab fa-medium fa-fw" style="margin-right: 8px;"></i> Medium
  </a>

  <a href="https://www.researchgate.net/profile/Akif-Mustafa" target="_blank" style="display: block; margin-bottom: 12px; color: rgba(255,255,255,0.8); text-decoration: none;">
    <i class="fab fa-researchgate fa-fw" style="margin-right: 8px;"></i> ResearchGate
  </a>

  <a href="mailto:akifalig25@gmail.com" style="display: block; margin-bottom: 12px; color: rgba(255,255,255,0.8); text-decoration: none;">
    <i class="fas fa-envelope fa-fw" style="margin-right: 8px;"></i> Email
  </a>
</div>
    </div>

    <nav class="sidebar-nav">
    </nav>

    <p style="font-size: 0.75em;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> 
  </div>
</div>
