<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      <nav style="text-align: right; margin-bottom: 3rem; font-weight: bold; font-size: 1.1em;">
  <a href="{{ site.baseurl }}/" style="margin-left: 15px; color: #555;">About Me</a>
  <a href="{{ site.baseurl }}/posts/" style="margin-left: 15px; color: #555;">Posts</a>
  <a href="{{ site.baseurl }}/gallery/" style="margin-left: 15px; color: #555;">Gallery</a>
  </nav>
      {{ content }}
    </div>

  </body>
</html>
